{% if ga_tracking is not empty %}
    <div id="google-analytics-info" class="sidebar-panel" style="font-size: 75%">
            &nbsp;&nbsp;This page uses<a onclick="openGADialog()" style="padding-left: 5px;">Google Analytics (info/opt-out)</a>
    </div>
{% endif %}