prefix = /opt
config_dir = ${prefix}/etc/fennec-web
www_root = ${prefix}/var/www/fennec-web
share_path = ${prefix}/share/fennec-web
var_path = ${prefix}/var/fennec-web
www_user = www-data
www_group = www-data
www_mode = 0777

srcdir = ${project.basedir}/src
builddir = /tmp/build/fennec-web

