<?xml version="1.0"?>
<ruleset name="PHP_CodeSniffer">
 <description>The coding standard for fennec-web PHP files.</description>

 <file>src/webservice</file>
 <file>test/php</file>

 <exclude-pattern>config.php</exclude-pattern>

 <arg name="extensions" value="php"/>
 <arg name="report" value="full"/>
 <arg name="report" value="summary"/>
 <arg value="p"/>

 <rule ref="PSR2"/>
</ruleset>
