RewriteEngine On
Options -MultiViews
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^([A-Za-z-_\.0-9]+)/organism$    index.php?page=organism&dbversion=$1 [L,NC,QSA]
RewriteRule ^([A-Za-z-_\.0-9]+)/organism/search$    index.php?page=organism-search&dbversion=$1 [L,NC,QSA]
RewriteRule ^([A-Za-z-_\.0-9]+)/organism/results/(.*)?$    index.php?page=organism-results&searchTerm=$2&dbversion=$1 [L,NC,QSA]
RewriteRule ^([A-Za-z-_\.0-9]+)/organism/details/byId/(.*)?$  index.php?page=organism-byid&organismId=$2&dbversion=$1 [L,NC,QSA]
RewriteRule ^([A-Za-z-_\.0-9]+)/organism/details/byTrait/(.*)?$  index.php?page=organism-by-trait&type_cvterm_id=$2&dbversion=$1 [L,NC,QSA]

RewriteRule ^([A-Za-z-_\.0-9]+)/project$    index.php?page=project&dbversion=$1 [L,NC,QSA]
RewriteRule ^([A-Za-z-_\.0-9]+)/project/details/byId/(.*)?$    index.php?page=project-byid&dbversion=$1 [L,NC,QSA]

RewriteRule ^([A-Za-z-_\.0-9]+)/trait/search/humanAndEcosystems$    index.php?page=trait-search-eco [L,NC,QSA]
RewriteRule ^([A-Za-z-_\.0-9]+)/trait/search/behaviour$    index.php?page=trait-search-behaviour [L,NC,QSA]
RewriteRule ^([A-Za-z-_\.0-9]+)/trait$    index.php?page=trait&dbversion=$1 [L,NC,QSA]
RewriteRule ^([A-Za-z-_\.0-9]+)/trait/search$    index.php?page=trait-search-overview&dbversion=$1 [L,NC,QSA]
RewriteRule ^([A-Za-z-_\.0-9]+)/trait/search/ecology$    index.php?page=trait-search-ecology&dbversion=$1 [L,NC,QSA]
RewriteRule ^([A-Za-z-_\.0-9]+)/trait/search/woodland$    index.php?page=trait-search-woodland&dbversion=$1 [L,NC,QSA]
RewriteRule ^([A-Za-z-_\.0-9]+)/trait/search/zone$    index.php?page=trait-search-zone&dbversion=$1 [L,NC,QSA]
RewriteRule ^([A-Za-z-_\.0-9]+)/trait/search/plant$    index.php?page=trait-search-plant&dbversion=$1 [L,NC,QSA]
RewriteRule ^([A-Za-z-_\.0-9]+)/trait/details/byId/(.*)?$    index.php?page=trait-byid&type_cvterm_id=$2&dbversion=$1 [L,NC,QSA]

RewriteRule ^([A-Za-z-_\.0-9]+)/community$    index.php?page=community&dbversion=$1 [L,NC,QSA]

RewriteRule ^([A-Za-z-_\.0-9]+)/startpage$    index.php?page=startpage&dbversion=$1 [L,NC,QSA]