<!-- The panel row for showing projects, communities, organisms and traits -->
<div class="row">
    The logo on the start page uses icons made by <a href="http://www.freepik.com/">Freepik</a> from <a href="http://www.flaticon.com/">www.flaticon.com</a>.<br>
    The maintainer of this instance did not provide any other contact data.
    If you are the maintainer of this instance just create the file 'custom_contact.html.twig' in 'app/Resources/views/misc' and the content will appear here.
    Please make sure to retain the notice above if you keep the logo on the start page.
</div>