<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"> My projects </h3>
    </div>
    <div class="panel-body">
        <table id="trait-file-upload-table" class="table trait-file-upload-table trait-file-upload-table-striped table-bordered" width="100%" cellspacing="0">
            <thead>
            <tr><th>Filename</th><th>Import Date</th><th>Trait Format</th><th>Trait Type</th><th># Entries</th><th>Actions</th></tr>
            </thead>
        </table>
    </div>
</div>
