<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"> My projects </h3>
    </div>
    <div class="panel-body">
        <table id="project-table" class="table project-table project-table-striped table-bordered" width="100%" cellspacing="0">
            <thead>
            <tr><th>ID</th><th>Import Filename</th><th>Import Date</th><th># OTUs</th><th># Samples</th><th>Status</th><th>Actions</th></tr>
            </thead>
        </table>
    </div>
</div>
