imports:
    - { resource: parameters.yml }
    - { resource: security.yml }
    - { resource: services.yml }
    - { resource: version.yml, ignore_errors: true }

# Put parameters here that don't need to change on each machine where the app is deployed
# http://symfony.com/doc/current/best_practices/configuration.html#application-related-configuration
parameters:
    locale: en
    versions: '1.0|2.0|test_data'

framework:
    #esi:             ~
    translator:      { fallbacks: ["%locale%"] }
    secret:          "%secret%"
    router:
        resource: "%kernel.root_dir%/config/routing.yml"
        strict_requirements: ~
    form:            ~
    csrf_protection: ~
    validation:      { enable_annotations: true }
    #serializer:      { enable_annotations: true }
    templating:
        engines: ['twig']
    default_locale:  "%locale%"
    trusted_hosts:   ~
    session:
        # http://symfony.com/doc/current/reference/configuration/framework.html#handler-id
        handler_id:  ~
        save_path:   "%kernel.root_dir%/../var/sessions/%kernel.environment%"
    fragments:       ~
    http_method_override: true
    assets: ~

# Doctrine Configuration
doctrine:
    dbal: "%dbal%"
    orm:  "%orm%"

# Twig Configuration
twig:
    debug:            "%kernel.debug%"
    strict_variables: "%kernel.debug%"
    globals:
        fennec_version: "%application_version%"
        dbversions: "%dbal%"
        ga_tracking: "%ga_tracking%"
    form_themes: ['bootstrap_3_horizontal_layout.html.twig']

# Swiftmailer Configuration
swiftmailer:
    transport: "%mailer_transport%"
    host:      "%mailer_host%"
    username:  "%mailer_user%"
    password:  "%mailer_password%"
    spool:     { type: memory }

fos_user:
    db_driver: orm
    firewall_name: main
    user_class: AppBundle\Entity\User\FennecUser
    from_email:
        address: "hello@fennec.com"
        sender_name: "Fennec"
    registration:
        form:
            type: AppBundle\Form\RegistrationFormType

hwi_oauth:
    # list of names of the firewalls in which this bundle is active, this setting MUST be set
    firewall_names: [main]
    fosub:
        username_iterations: 30
        properties:
            github: github_id
    http_client:
        timeout: 10
    resource_owners:
        github:
            type:                github
            client_id:           "%github_client_id%"
            client_secret:       "%github_client_secret%"
            scope:               'user:email,public_repo'
            options:
                csrf:            true

shivas_versioning:
    version_file:  version.yml

easy_admin:
    entities:
        FennecUser:
            class: AppBundle\Entity\User\FennecUser
            label: 'User'
            list:
                title: 'All Users'
            form:
                fields:
                    - 'username'
                    - 'firstName'
                    - 'lastName'
                    - 'email'
                    - 'enabled'
                    - 'lastLogin'
                    - { property: 'plainPassword', type: 'text', type_options: { required: false } }
                    - { property: 'roles', type: 'choice', type_options: { multiple: true, choices: { 'ROLE_USER': 'ROLE_USER', 'ROLE_ADMIN': 'ROLE_ADMIN' } } }

    site_name: 'Fennec Backend'
    design:
        brand_color: '#514535'
        color_scheme: 'light'