# Doctrine Configuration
doctrine:
    dbal:
        default_connection: test
        connections:
            test:
                driver:   pdo_pgsql
                host:     172.18.0.3
                port:     5432
                dbname:   fennectest
                user:     fennectest
                password: fennectest
                charset:  UTF8

    orm:
        auto_generate_proxy_classes: "%kernel.debug%"
        default_entity_manager: test
        entity_managers:
            test:
                lazy: true
                connection: test
                naming_strategy: doctrine.orm.naming_strategy.underscore
