# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    ga_tracking: ~

    github_client_id:     ~
    github_client_secret: ~
    google_client_id:     ~
    google_client_secret: ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt
    default_data_connection: "1.0"
    user_connection: "user"
    default_data_entity_manager: "1.0"
    user_entity_manager: "user"
    dbal:
        default_data_connection: '1.0'
        user_connection: 'userdb'
        connections:
            'userdb':
                driver: pdo_pgsql
                host: db
                port: 5432
                dbname: fennec
                user: fennec
                password: fennec
                charset: UTF8
            '1.0':
                driver: pdo_pgsql
                host: db
                port: 5432
                dbname: fennec
                user: fennec
                password: fennec
                charset: UTF8
            '2.0':
                driver: pdo_pgsql
                host: testdb
                port: 5432
                dbname: fennectest
                user: fennectest
                password: fennectest
                charset: UTF8
    orm:
        auto_generate_proxy_classes: '%kernel.debug%'
        default_data_entity_manager: '1.0'
        user_entity_manager: 'userdb'
        entity_managers:
            'userdb':
                connection: 'userdb'
                naming_strategy: doctrine.orm.naming_strategy.underscore
                mappings:
                    AppBundle:
                        dir: '%kernel.project_dir%/src/AppBundle/Entity/User'
                        type: annotation
                        prefix: 'AppBundle\Entity\User'
            '1.0':
                connection: '1.0'
                naming_strategy: doctrine.orm.naming_strategy.underscore
                mappings:
                    AppBundle:
                        dir: '%kernel.project_dir%/src/AppBundle/Entity/Data'
                        type: annotation
                        prefix: 'AppBundle\Entity\Data'
            '2.0':
                connection: '2.0'
                naming_strategy: doctrine.orm.naming_strategy.underscore
                #auto_mapping: true
                mappings:
                    AppBundle:
                        dir: '%kernel.project_dir%/src/AppBundle/Entity/Data'
                        type: annotation
                        prefix: 'AppBundle\Entity\Data'

