# Learn more about services, parameters and containers at
# http://symfony.com/doc/current/book/service_container.html
parameters:
#    parameter_name: value

services:
    app.orm:
        class: AppBundle\ORM
        arguments: [ '@doctrine' ]
    app.api.webservice:
        class: AppBundle\API\Webservice
        arguments: ['@app.orm']
    app.twig_provider.dbversion:
        class: AppBundle\Service\TwigProvider\DBVersion
        arguments: ['@twig', '%doctrine.default_connection%']
        tags: [{name: kernel.event_listener, event: kernel.request}]
    app.twig_provider.types:
        class: AppBundle\Service\TwigProvider\Types
        arguments: ['@twig']
        tags: [{name: kernel.event_listener, event: kernel.request}]
    app.form.registration:
        class: AppBundle\Form\RegistrationFormType
        tag: [{name: form.type}]