@import "colors";

#page-wrapper {
  background: $background;
  min-height: calc(100vh - 51px);
  max-width: 100%;
  overflow: auto;
}

#wrapper {
  background: $navigation;
}

.page-header {
  border-bottom: 1px solid $navigation;
}

.btn-primary {
  color: $background;
  background-color: $navigation;
  border-color: darken($navigation, 10%);
  &:hover, &:active, &:focus {
     background-color: darken($navigation, 50%);
  }
}