@import "colors";

.btn-organism {
    color: #FFF;
    background-color: $organism;
    border-color: $organism;
}

.btn-organism:hover {
    color: #FFF;
    background-color: darken($organism, 10%);
    border-color: darken($organism, 10%);
}

.btn-organism:focus {
    color: #FFF;
    background-color: darken($organism, 10%);
    border-color: darken($organism, 10%);
}

.btn-trait {
    color: #FFF;
    background-color: $trait;
    border-color: $trait;
}

.btn-trait:hover {
    color: #FFF;
    background-color: darken($trait, 10%);
    border-color: darken($trait, 10%);
}

.btn-trait:focus {
    color: #FFF;
    background-color: darken($trait, 10%);
    border-color: darken($trait, 10%);
}
