@import "colors";

.organism-link {
    color: $organism;
    text-decoration: none;
}

.organism-link:hover .organism-link:focus {
    color: darken($organism, 10%);
    text-decoration: none;
}

.project-link {
    color: $project;
}

.project-link:hover, .project-link:active {
    color: darken($project, 10%);
}

.trait-link {
    color: $trait;
}

.trait-link:hover, .trait-link:active {
    color: darken($trait, 10%);
}

.startpage-link {
    color: $navigation;
}

.startpage-link:hover, .startpage-link:active{
    color: darken($navigation, 10%);
}
