@import "colors";

.panel-projects {
    background-color: $project;
    border-color: darken($project, 5%);
    color: #FFF;
}

.info-projects {
    color: darken($project, 5%);
}

.panel-organism {
    background-color: $organism;
    border-color: darken($organism, 5%);
    color: #FFF;
}

.info-organism {
    color: darken($organism, 5%);
}
.panel-trait {
    background-color: $trait;
    border-color: darken($trait, 5%);
    color: #FFF;
}

.info-trait {
    color: darken($trait, 5%);
}
