@import "colors";

.sidebar-panel, .sidebar ul li a:focus{
    background: $startpage;
    color: $background;
}

.sidebar ul li {
    border-bottom: 1px solid lighten($startpage, 25%)
}

.sidebar ul li a{
    &.active, &:hover, &:active {
        background: lighten($startpage, 25%);
        color: $startpage;
    }
}