@import "colors";

.sidebar-panel, .sidebar ul li a:focus{
    background: $navigation;
    color: $background;
}

.sidebar ul li {
    border-bottom: 1px solid lighten($navigation, 25%)
}

.sidebar ul li a{
    &.active, &:hover, &:active {
        background: lighten($navigation, 25%);
        color: $navigation;
    }
}