@import "colors";

.sidebar-startpage, .sidebar ul li a:focus{
    background: $startpage;
    color: lighten($startpage, 25%);
}

.sidebar-organism {
    background: $organism;
    color: lighten($organism, 25%);
}

.sidebar-project {
    background: $project;
    color: lighten($project, 25%);
}

.sidebar-trait {
    background: $trait;
    color: lighten($trait, 25%);
}

.sidebar ul li {
    border-bottom: 1px solid lighten($startpage, 25%)
}

.sidebar ul li a{
    &.active, &:hover, &:active {
        background: lighten($startpage, 25%);
        color: $startpage;
    }
}