#startpage-logo {
  margin-bottom: 20px;
  width: 250px;
}

#startpage-text {
  margin-bottom: 40px;
  font-size: x-large;
}

.startpage-panel-description {
  font-size: large;
}

.panel-text {
  font-size: large;
}