{%  extends 'base.navigation.html.twig' %}

{%  block content %}
        <div class="row">
                <div class="col-xs-12" style="margin-top: 20px;">
                        {% block fos_user_content %}{% endblock %}
                </div>
        </div>
{% endblock %}