{% extends 'base.navigation.html.twig' %}

{% block content %}
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <div class="row">
            <img src="{{ asset('assets/img/fennec.svg') }}" class="center-block" id="startpage-logo"/>
        </div>
        <div class="row">
            <div class="col-lg-12" id="startpage-text">
                This is Fennec. It helps you add trait information from various sources to your community data.
                You can upload your own communities or just explore the database of organisms and traits.
                To see how many organisms and traits there are just look at the boxes below.
            </div>
        </div>
        {% include 'startpage/panelRow.html.twig' %}
    </div>
    <div class="col-lg-1"></div>
{% endblock %}
