{% extends 'base.navigation.html.twig' %}

{% block content %}
        {#<div class="row">#}
            {#<div class="col-lg-12">#}
                {#{% include 'startpage/panelRow.html.twig' %}#}
            {#</div>#}
            {#<img src="{{ asset('assets/img/fennec.svg') }}" class="center-block" id="startpage-logo"/>#}
        {#</div>#}
        {#<hr>#}
        <div class="row">
            <div class="col-xs-5" style="margin-top: 150px;">
                <h1 class="title-about-fennec" align="right">FENNEC</h1>
                <div id="startpage-subtitle" align="right">
                    Functional Exploration of Natural Networks <br>and Ecological Communities
                </div>
            </div>
            <div class="col-xs-4" id="startpage-text" style="margin-top: 170px;">
                FENNEC is a platform for adding trait information from various sources to your community data.

                You can upload your own community data tables or just explore the database of organisms and traits.
            </div>
        </div>
        {#<div class="row">#}
            {#<div class="col-lg-12" id="startpage-text">#}
                {#{% include 'startpage/info-panels.html.twig' %}#}
            {#</div>#}
        {#</div>#}
{% endblock %}
