@import "colors";

.navbar-startpage {
    margin-bottom: 0;
    background-color: $startpage-0;
    color: lighten($startpage-0, 25%);
}

.navbar-icon-startpage:hover, .navbar-icon:active, navbar-icon:link {
    color: lighten($startpage-0, 10%);
}

.navbar-organism {
    margin-bottom: 0;
    background-color: $organism-0;
    color: lighten($organism-0, 25%);
}

.navbar-icon-organism:hover, .navbar-icon:active, navbar-icon:link {
    color: lighten($organism-0, 10%);
}

.navbar-project {
    margin-bottom: 0;
    background-color: $project-0;
    color: lighten($project-0, 25%);
}

.navbar-icon-project:hover, .navbar-icon:active, navbar-icon:link {
    color: lighten($project-0, 10%);
}

.navbar-trait {
    margin-bottom: 0;
    background-color: $trait-0;
    color: lighten($trait-0, 25%);
}

.navbar-icon-trait:hover, .navbar-icon:active, navbar-icon:link {
    color: lighten($trait-0, 10%);
}

.form-control:focus {
    border-color: $organism-0;
    box-shadow: $organism-0;
}

.btn-default {
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.4);
    color: inherit;
}

.btn-default:hover,
.btn-default:active,
.btn-default:focus,
.btn-default.active.focus,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default.focus:active,
.btn-default:active:focus,
.btn-default:active:hover,
.open > .dropdown-toggle.btn-default.focus,
.open > .dropdown-toggle.btn-default:focus,
.open > .dropdown-toggle.btn-default:hover,
.btn-default.active,
.btn-default:active,
.open > .dropdown-toggle.btn-default{
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.3);
    color: inherit;
}

a:focus {
    color: inherit;
}

