@import "colors";

.sidebar-startpage {
    color: $startpage-0;
}

.sidebar-organism {
    color: $organism-0;
}

.sidebar-project {
    color: $project-0;
}

.sidebar-trait {
    color: $trait-0;
}

