<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            Upload
        </h3>
    </div>
    <div class="panel-body">
        Supported formats are <a href="http://biom-format.org/documentation/format_versions/biom-1.0.html">biom</a> version 1.0 and version 2.1 or tsv format (observation matrix only).
        Your project is converted to biom format version 1.0 on the web server. For tsv data you have to add metadata manually later.
        More information is available in <a href="http://fennec.readthedocs.io/en/develop/user.html#upload-own-data">the documentation</a>.
        If you want to try some example data you can use this <a href="{{ path('project_example_file', {'dbversion': dbversion}) }}"><span class="fa fa-download"></span> biom file</a>.
        <form>
            <input class="btn fileinput" id="project-fileupload" type="file" name="files[]" style="display: none" multiple>
            <label for="project-fileupload">Choose file(s)</label>
        </form>
        <i class="fa fa-refresh fa-spin" style="font-size:24px; display:none" id="project-upload-busy-indicator"></i>
    </div>
</div>
