<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            Upload
        </h3>
    </div>
    <div class="panel-body">
        Supported is tsv format.
        More information is available in <a href="http://fennec.readthedocs.io/en/develop/user.html#upload-own-data">the documentation</a>.
        Beware that all uploaded traits are public and can be used by all fennec users.
        Make sure that you have the rights to distribute this data and that you include proper citation and attribution information.
        <form>
            Traittype: <input type="text" name="traitType"/><br>
            Default citation: <input type="text" name="defaultCitation"/><br>
            Mapping: <input type="text" name="mapping"/><br>
            Skip unmapped: <input type="checkbox" name="skipUnmapped"/><br>
            <input class="btn fileinput" id="trait-fileupload" type="file" name="file" style="display: none">
            <label for="trait-fileupload">Choose file</label><br>
            <button id="trait-upload-submit-button" class="btn" type="button">Submit</button>
        </form>
        <i class="fa fa-refresh fa-spin" style="font-size:24px; display:none" id="trait-upload-busy-indicator"></i>
    </div>
</div>
