$startpage-0: #BED2FE; /* startpage color */

$trait-0: #6FA4CD;	/* trait color */
$color-primary-1: #BBE1FE;
$color-primary-2: #93C8F0;
$color-primary-3: #597E9B;
$color-primary-4: #384A57;

$project-0: #7591D1;	// project color */
$color-secondary-1-1: #BED2FE;
$color-secondary-1-2: #98B3F1;
$color-secondary-1-3: #6073A1;
$color-secondary-1-4: #3C455A;

$organism-0: #66C7C7;	// organism color */
$color-secondary-2-1: #B7FEFE;
$color-secondary-2-2: #8CEFEF;
$color-secondary-2-3: #4F9090;
$color-secondary-2-4: #335151;
