$startpage-0: #53575F; /* startpage color */

$trait-0: #6FA4CD;	/* trait color */
$trait-1: #BBE1FE;
$trait-2: #93C8F0;
$trait-3: #597E9B;
$trait-4: #384A57;

$project-0: #7591D1;	// project color */
$project-1: #BED2FE;
$project-2: #98B3F1;
$project-3: #6073A1;
$project-4: #3C455A;

$organism-0: #66C7C7;	// organism color */
$organism-1: #B7FEFE;
$organism-2: #8CEFEF;
$organism-3: #4F9090;
$organism-4: #335151;
