$startpage-0: #53575F; /* startpage color */

$trait-0: #246068;	/* trait color */
$trait-1: #69969C;
$trait-2: #427A82;
$trait-3: #0E464E;
$trait-4: #012E34;

$project-0: #2F4073;	/* project color */
$project-1: #7986AC;
$project-2: #50608F;
$project-3: #162656;
$project-4: #061339;

$organism-0: #2B823A;	/* organism color */
$organism-1: #82C38D;
$organism-2: #51A35F;
$organism-3: #10621E;
$organism-4: #00410B;
