$organism-0: #076565;
$trait-0: #A90C0C;

.btn-organism {
    color: #fff;
    background-color: $organism-0;
    border-color: darken($organism-0, 5%);
}

.btn-organism:hover {
    color: $organism-0;
    background-color: #fff;
    border-color: darken($organism-0, 5%);
}

.btn-organism:focus {
    color: $organism-0;
    background-color: #fff;
    border-color: darken($organism-0, 5%);
}

.btn-trait {
    color: #fff;
    background-color: $trait-0;
    border-color: darken($trait-0, 5%);
    width: 100%;
}

.btn-trait:hover {
    color: $trait-0;
    background-color: #fff;
    border-color: darken($trait-0, 5%);
    width: 100%;
}

.btn-trait:focus {
    color: $trait-0;
    background-color: #fff;
    border-color: darken($trait-0, 5%);
    width: 100%;
}

div.tooltip {   
  position: absolute;           
  text-align: center;           
  width: 60px;                  
  height: 28px;                 
  padding: 2px;             
  font: 12px sans-serif;        
  background: lightsteelblue;   
  border: 0px;      
  border-radius: 8px;           
  pointer-events: none;
}
