/* LESS - http://lesscss.org style sheet */
/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=72P0u0ktNl9krtdreqLAAgmN4ae */


$project-0: #098709;	/* Project color */
$project-1: #43BA43;
$project-2: #19AB19;
$project-3: #006800;
$project-4: #004100;

$organism-0: #076565;	/* Organism color */
$organism-1: #338C8C;
$organism-2: #138080;
$organism-3: #004E4E;
$organism-4: #003131;

$community-0: #A9530C;	/* Community color */
$community-1: #E99854;
$community-2: #D57220;
$community-3: #823B00;
$community-4: #512500;

$trait-0: #A90C0C;	/* Trait color */
$trait-1: #E95454;
$trait-2: #D52020;
$trait-3: #820000;
$trait-4: #510000;

$startpage-0: #A6750E;	// Startpage color */
$startpage-1: #E5B34A;
$startpage-2: #CE9620;
$startpage-3: #815800;
$startpage-4: #533800;


