$project-0: #098709;	/* Project color */
$project-1: #43BA43;
$project-2: #19AB19;
$project-3: #006800;
$project-4: #004100;


table.dataTable thead .sorting, 
table.dataTable thead .sorting_asc, 
table.dataTable thead .sorting_desc, 
table.dataTable thead .sorting_asc_disabled, 
table.dataTable thead .sorting_desc_disabled {
    background: $project-0;
    color: #f8f8f8;
}

.table-striped > tbody > tr:nth-of-type(2n){
    background-color: lighten($project-0, 65%);
}

.table-striped > tbody > tr:hover{
    background-color: #eee;
}

.project-table sorting_asc {
    color: #f8f8f8;
}

/* Footer cells */
.project-table tfoot th {
    background: $project-0;
    color: #f8f8f8;
}

/* Define custom hover effect on links */
.project-table a:focus, a:hover {
    text-decoration: none;
}

.pagination > .active > a, 
.pagination > .active > a:focus {
    color: #fff;
    cursor: pointer;
    background-color: $project-0;
    border-color: $project-0;
    box-shadow: 
        0 2px 6px rgba(0, 0, 0, 0.5),
        0 1px rgba(255, 255, 255, 0.3) inset,
        0 10px rgba(255, 255, 255, 0.2) inset,
        0 10px 20px rgba(255, 255, 255, 0.25) inset,
        0 -15px 30px rgba(0, 0, 0, 0.3) inset;
}

.pagination > .active > a:hover {
    color: #fff;
    cursor: pointer;
    background-color: darken($project-0, 10%);
    border-color: darken($project-0, 10%);
    box-shadow: 
        0 2px 6px rgba(0, 0, 0, 0.5),
        0 1px rgba(255, 255, 255, 0.3) inset,
        0 10px rgba(255, 255, 255, 0.2) inset,
        0 10px 20px rgba(255, 255, 255, 0.25) inset,
        0 -15px 30px rgba(0, 0, 0, 0.3) inset;
}

.pagination > li > a,
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span,
.pagination > li > span:focus,
.pagination > li > span:hover {
    color: #777;
    box-shadow: 
        0 2px 6px rgba(0, 0, 0, 0.5),
        0 1px rgba(255, 255, 255, 0.3) inset,
        0 10px rgba(255, 255, 255, 0.2) inset,
        0 10px 20px rgba(255, 255, 255, 0.25) inset,
        0 -15px 30px rgba(0, 0, 0, 0.3) inset;
}

.pagination > .disabled > a, 
.pagination > .disabled > a:focus,
.pagination > .disabled > a:hover, 
.pagination > .disabled > span, 
.pagination > .disabled > span:focus, 
.pagination > .disabled > span:hover {
    box-shadow: 
        0 2px 6px rgba(0, 0, 0, 0.5),
        0 1px rgba(255, 255, 255, 0.3) inset,
        0 10px rgba(255, 255, 255, 0.2) inset,
        0 10px 20px rgba(255, 255, 255, 0.25) inset,
        0 -15px 30px rgba(0, 0, 0, 0.3) inset;
}
