@import "colors";

.grid-organism {
    background-color: $organism-2;
    color: #FFF;
    font-style: italic;
    font-weight: bold;
}
.grid-info-organism {
    background-color: #FFF;
    color: #000;
    font-style: normal;
    font-weight: normal;
}

.grid-details-organism {
    color: darken($organism-2, 5%);
}

.grid-trait {
    background-color: $trait-2;
    color: #FFF;
    font-style: italic;
    font-weight: bold;
}
.grid-info-trait {
    background-color: #FFF;
    color: #000;
    font-style: normal;
    font-weight: normal;
}

.grid-details-trait {
    color: darken($trait-2, 5%);
}
