$project-0: #098709;

.panel-projects {
    background-color: $project-0;
    border-color: darken($project-0, 5%);
    color: $project-0;
}

.panel-communities {
    
}

.panel-organisms {
    
}

.panel-traits {
    
}

