$project-0: #098709;
$community-0: #A9530C;
$organism-0: #076565;
$trait-0: #A90C0C;

.panel-projects {
    background-color: $project-0;
    border-color: darken($project-0, 5%);
    color: #fff;
}

.info-projects {
    color: darken($project-0, 5%);
}

.panel-communities {
    background-color: $community-0;
    border-color: darken($community-0, 5%);
    color: #fff;
}

.info-communities {
    color: darken($community-0, 5%);
}

.panel-organism {
    background-color: $organism-0;
    border-color: darken($organism-0, 5%);
    color: #fff;
}

.info-organism {
    color: darken($organism-0, 5%);
}
.panel-trait {
    background-color: $trait-0;
    border-color: darken($trait-0, 5%);
    color: #fff;
}

.info-trait {
    color: darken($trait-0, 5%);
}

