$startpage-0: #A6750E;
$organism-0: #076565;
$project-0: #098709;
$trait-0: #A90C0C;
$community-0: #A9530C;

.sidebar-startpage {
    color: $startpage-0;
}

.sidebar-organism {
    color: $organism-0;
}

.sidebar-project {
    color: $project-0;
}

.sidebar-trait {
    color: $trait-0;
}

.sidebar-community {
    color: $community-0;
}

