<div class="row">
    <aside class="col-sm-4">
        <p>Filter by Provider</p>
        <div class="card">
            <article class="card-group-item">
                <div class="filter-content">
                    <div class="card-body">
                        <input class="form-check-input" type="checkbox" id="trait-filter-by-ncbi" value="ncbi_taxonomy">
                        ncbi taxonomy<br>
                        <input class="form-check-input" type="checkbox" id="trait-filter-by-iucn" value="iucn_redlist">
                        iucn redlist<br>
                        <input class="form-check-input" type="checkbox" id="trait-filter-by-eol" value="EOL">
                        EOL<br>
                        <input class="form-check-input" type="checkbox" id="trait-filter-by-eppo" value="EPPO">
                        EPPO<br>
                        <input class="form-check-input" type="checkbox" id="trait-filter-by-leda" value="leda">
                        leda<br>
                        <input class="form-check-input" type="checkbox" id="trait-filter-by-userdb" value="userImport">
                        user import<br>
                    </div>
                </div>
            </article>
        </div>
    </aside>
    <aside class="col-sm-4" style="display: none;" id="trait-filter-by-userdb-card">
        <p>Filter by User</p>
        <div class="card">
            <article class="card-group-item">
                <div class="filter-content">
                    <div class="card-body">
                        <label class="form-check">
                            <input class="form-check-input" type="text" id="trait-filter-by-user" placeholder="user id">
                        </label>
                    </div>
                </div>
            </article>
        </div>
    </aside>
    <aside class="col-sm-4">
        <p>Filter by Trait Format</p>
        <div class="card">
            <article class="card-group-item">
                <div class="filter-content">
                    <div class="card-body">
                        <div class="form-row">
                            <select class="selectpicker" id="trait-filter-by-format" data-style="btn-trait">
                                <option value="none">none</option>
                                <option value="numerical">numerical</option>
                                <option value="categorical_free">categorical</option>
                            </select>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </aside>
</div>
<div class="row" style="margin-top: 20px;">
    <div class="col-lg-6">
        <input class="btn btn-trait" type="button" id="trait-filter-apply" value="Apply Filters">
    </div>
</div>

