<ul>
{% for organism in organisms %}
    <li><a href="{{ path('organism_details', {'dbversion': dbversion, 'fennec_id': organism.fennecId}) }}">{{ organism.scientificName }}</a></li>
{% endfor %}
</ul>
