<ul>
{% for organism in organisms %}
    <li><a href="{{ path('organism_details', {'dbversion': dbversion, 'fennec_id': organism.fennec_id}) }}">{{ organism.scientific_name }}</a></li>
{% endfor %}
</ul>
